
.navbar-style {
    position: relative;
    display: inline-block;
    margin-top: 1%; /* Add space from the top */
    margin-left: 1%;  /* Change this from block to inline-block */
}

.dropdown-menu {
    transition: all 1s ease; /* Increase the duration of the transition */
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;
    background-color: white; /* Change this to your preferred color */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Distributes the links evenly within the container, with equal space around them */
    align-items: center;
    border: 0 solid black; /* Initially set the border width to 0 */
    border-radius: 10px; /* Add rounded corners */
}

.dropdown:hover .dropdown-menu {
    display: flex;
    border-width: 1px; /* Increase the border width when the dropdown menu is hovered over */
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; /* Each link will take up an equal amount of space */
    width: 100%; /* Each link will stretch to the full width of the container */
    color: #704caf; /* This will be replaced by JavaScript */
    text-decoration: none; /* Removes the underline from the links */
    font-size: 20px; /* Change this to your preferred size */
    font-weight: bold; /* Makes the text bold */
}

.button-container {
    position: relative;
    display: inline-block;
/* Add space from the right */
}

.dropdown-toggle {
    background-color: #704caf; /* Change this to your preferred color */
    color: white; /* Change this to your preferred color */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; /* Center the text */
    display: flex; /* Use flexbox to center the text vertically */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    border-radius: 20px; /* Make the corners rounded */
}

.dropdown-toggle:hover {
    background-color: #45a049; /* Change this to your preferred color */
}
